<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingchuan.providermysql.mapper.InterfaceMapper">

    <select id="findOneById" resultType="com.pingchuan.domain.Interface">
        SELECT id, `name`, type_id typeId, `explain`,enabled FROM interfaces WHERE id = #{id};
    </select>
    <select id="findAll" resultType="com.pingchuan.domain.Interface">
        SELECT id, `name`, type_id typeId, `explain`,enabled FROM interfaces
    </select>
    <select id="findAllByTypeId" resultType="com.pingchuan.domain.Interface">
        SELECT id, `name`, type_id typeId, `explain`,enabled FROM interfaces where type_id = #{typeId}
    </select>
</mapper>